// Nunito
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap');

// Fonts
$font-family-sans-serif: 'Nunito Sans', sans-serif;

// Colors
$blue: #2f55d4 !default;

// Buttons
$btn-font-weight: 600 !default;

@import "vendor/laravel/spark-aurelius/resources/assets/sass/spark";

// Twemoji
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

h2 {
  font-weight: 300;
}

// Utilities
// -------------------------------------------------------------------------- */
.w-30 {
  width: 30% !important;
}

// Buttons
// -------------------------------------------------------------------------- */
.btn {
  box-shadow: none;
}

.btn-group-sm > .btn,
.btn-sm {
  padding-bottom: 0.1rem;
}

// Nav
// -------------------------------------------------------------------------- */
.navbar-spark {
  padding: 0 1rem;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 74px;
  padding: 0;
}

// Card
// -------------------------------------------------------------------------- */
.card-header {
  line-height: 29px;

  .btn-group {
    line-height: normal;
    padding-top: 0 !important;
  }
}
